body {
    padding: 0;
    margin: 0;
    background-color: white;
    font:15px ‘Roboto’, Arial, Helvetica, sans-serif;
    
}

.line {
    border-bottom: 2px solid #134c54; /* Параметры линии */
}

.name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

header {
    color: black;
    justify-content: center;
}

.underline-one {
    display: flex;
    justify-content: space-around;
    text-align: center;
	color: #3b3b3b; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 18px;
    padding-bottom: 3px;
}

.underline-one:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: black; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.9s; /* Время эффекта */
}

.underline-one:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: rgb(0, 0, 0); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  
}
  
.start {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.left-img {
    float:left; 
    margin: 50px 10px 10px 10px; 
}

.zavod-title {
    display: flex;
    padding-top: 50px;
    margin: 24px 5%;
    font-size: 110%;
    color: black;
}

.company {
    display: flex;
    color: #bbc4c8;
}

.boss-name {
    display: flex;
    margin: 20px 25px 0;
    font-size: 80px;
}


.all-second {
    display: flex;
    margin: 0 25px;
    font-size: 40px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin: 400px 160px 40px 160px;
    padding: 50px 40px 50px 40px;
    background-color: #9c9c9c;
    border-radius: 30px;
    width: 100%;
}

.all-title {    
    text-align: left;
    font-size: 20px;
    margin: 40px 33.3%;
}

.data-all {
    text-align: center;
    margin: 40px 33.3%;
    font-size: 26px;
}

.contact {
    text-align: left;
    font-size: 20px;
    margin: 40px 33.3%;
}

.table {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    align-items: center;
} 

.line {
    height: 0.1em; /* Высота линии */
    background-color: rgb(60, 60, 60); /* Цвет подчеркивания при исчезании линии*/
}

.table-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;    
}

.info {
    max-width: 50%;
}

.card {
    width: 225px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
  }
  
  /* При наведении на карточку - меняем цвет тени */
  .card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
  }
  
  .card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
  }
  
  /* Контейнер для картинки */
  .card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
  }
  
  /* При наведении - увеличиваем картинку */
  .card__image:hover > img {
    transform: scale(1.1);
  }
  
  /* Размещаем скидку на товар относительно изображения */
  .card__label {
    padding: 4px 8px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #ff6633;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
  
  .card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
  }
  
  .card__prices {
    display: flex;
    margin-bottom: 10px;
    flex: 0 0 50%; /* Размещаем цены равномерно в две колонки */
  }
  
  .card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
  }
  
  .card__price--discount {
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  
  .card__price--discount::before {
    content: "Со скидкой";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
  }
  
  .card__price--common {
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
  }
  
  .card__price--common::before {
    content: "Обычная";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
  }
  
  .card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #414141;
  }
  
  .card__title:hover {
    color: #ff6633;
  }
  
  .card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #70c05b;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
  }
  
  .card__add:hover {
    border: 1px solid #ff6633;
    background-color: #ff6633;
    color: #fff;
  }

  .cards {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1000px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 40px; /* Отступ между рядами */
    margin: 0 auto;
  }

  .cards-top-name {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    padding-left: 10%;
    padding-top: 5%;
  }